.nav-logo {
  width: 180px;
  height: 80px;
}
.nav-icons {
  display: none;
}
.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: #2b2a29, $alpha: 0.9);
  transition: var(--mainTransition);
  box-shadow: var(--lightShadow);
  z-index: 3;
}
.card-more{
  position: absolute;
  color: var(--mainBlack);
  font-size: 30px;
  top: 7%;
  left: 0;
  font-size: 17px;
  border: 1px solid var(--primaryColor);
  padding: 5px 10px;
  // letter-spacing: var(--mainSpacing);
  background: linear-gradient(to right, var(--mainBlack) 50%, var(--primaryColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s linear;
  font-weight: bold;
}
