.hero {
display: flex;
min-height: calc(100vh - 62px);
background: var(--primaryColor);
justify-content: center;
align-items: center;
}
.hero-banner {
text-align: center;
color: var(--mainWhite);
padding: 0 2rem;
}
.hero-title {
    font-family: "Lato",sans-serif;
    color: var(--mainWhite);
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
    animation: slideFromRight 2s ease-in-out 1;
}
.hero-text {
    color: var(--mainWhite);
    font-family: "Lato",sans-serif;
    width: 85%;
    margin: 0 auto;
    letter-spacing: var(--mainSpacing);
    font-weight: 400;
    margin-bottom: 2rem;
    animation: slideFromLeft 2s ease-in-out 1;
}
.btn-white{
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--mainWhite);
    border: 2px solid var(--mainWhite);
    padding: 0.9rem 1.6rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    animation: show 2s ease-in-out 1;
}
.btn-white:hover {
    background-color: var(--mainWhite);
    color: var(--mainBlack);
}
@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 4.5rem;
    }
    .hero-text {
        width: 70%;
    }
}
@keyframes show {
    0% {
      opacity: 0;
      transform: scale(2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes slideFromRight {
    0% {
      transform: translateX(1000px);
    }
    50% {
      transform: translateX(-200px);
    }
    75% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-1000px);
    }
    50% {
      transform: translateX(200px);
    }
    75% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
  }