/* .hero {
width: 80%;
align-self: center;
} */
.hero-img{
  /* width: 100%;
  height: 100%; */
  /* background-color: rgba(0,0,0,0.5); */
} 
/* .hero-img img{
  width: 100%;
  height: 100%;
} */
.carousel .carousel-status {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 90%);
  color: #fff;
}
.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
  background: var(--primaryColor);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--primaryColor);
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--mainBlack);
}
.carousel .thumbs {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  /* position: relative; */
  display: none;
  list-style: none;
  white-space: nowrap;
}
/* .hero-img img{
  width: 100%;
  height: 100%;
} */
.side-banner{
  width: 200px;
  height: 80%;
  margin: 23px 35px 0 0;
}
.side-banner img{
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 415px) {
  .hero {
    /* background-image: none !important; */
    justify-content: center;
  }
  .side-banner{
    margin: 23px 0;
  }
}
/* .hero-banner {
  text-align: left;
  color: var(--mainBlack);
  padding: 0 2rem;
  width: 50%;
  align-self: flex-start;
} */
/* .hero-title {
  font-family: "Lato",sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
  letter-spacing: 0.4rem;
  animation: slideFromRight 2s ease-in-out 1;
}
.hero-text {
  font-family: "Lato",sans-serif;
  margin: 0;
  letter-spacing: var(--mainSpacing);
  font-weight: 400;
  animation: slideFromLeft 2s ease-in-out 1;
  width: 60%;
}
.btn-white{
  font-family: "Lato",sans-serif;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  padding: 13px 16px;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  animation: show 2s ease-in-out 1;

  background-color: var(--mainBlack);
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor);
  font-weight: bold;
}
.btn-white:hover {
  background-color: var(--mainWhite);
  border: 2px solid var(--mainBlack);
  color: var(--mainBlack);
} */
@media screen and (max-width: 992px){
  /* .hero-banner{
    display: none;
  } */
}
/* @keyframes show {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
/* @keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  50% {
    transform: translateX(-200px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  50% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
} */
