/* .hero {
width: 80%;
align-self: center;
} */
.hero-img{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0,0,0,0.5); */
} 
.hero-img img{
  width: 430px;
  height: 430px;
}
.banner-text{
  position: absolute;
  top: -15px;
  font-size: 30px;
  text-align: left;
  width: 450px;
  /* font-weight: bold; */
  font-family: "Lato", sans-serif;
  letter-spacing: var(--mainSpacing);
  line-height: 40px;
  left: 17px;
}
.banner-text span{
  font-weight: bolder;
}
.carousel .carousel-status {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  color: #fff;
}
.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  background: var(--primaryColor);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid var(--primaryColor);
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--primaryColor);
}
.carousel .thumbs {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  display: none;
  list-style: none;
  white-space: nowrap;
}
@media screen and (max-width: 415px) {
  .hero {
    /* background-image: none !important; */
    justify-content: center;
  }
  .banner-text{
    display: none;
  }
}
@media screen and (max-width: 992px){
  /* .hero-banner{
    display: none;
  } */
  .banner-text{
    font-size: 20px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: var(--mainWhite);
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vmin;
  text-align: start;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 35px;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid orange;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: var(--primaryColor);
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  background-color: var(--primary-color);
  width: 100%;
}