.navbar{
  background-color: var(--mainBlack);
}
.nav-logo {
  width: 120px;
  height: 50px;
}
.nav-links{
  padding: 1rem;
  display: none;
}
.nav-link {
  display: block;
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: bold;
  letter-spacing:var(--mainSpacing);
  transition: var(--mainTransition);
  font-size: 15.5px;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: var(--mainWhite);
  cursor: pointer;
}
.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// .find{
//   color: var(--mainWhite);
//   font-weight: bold;
// }
// .find input{
//   padding: 4px 10px;
//   margin-left: 8px;
// }
// .search-icon{
//   background-color: var(--primaryColor);
//   color: var(--mainBlack);
//   font-size: 18px;
//   padding: 3.5px;
//   margin-left: 5px;
//   margin-bottom: -5.8px;
//   cursor: pointer;
//   -webkit-transform: scaleX(-1);
//   transform: scaleX(-1);
// }
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
  transition: var(--mainTransition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--mainPadding);
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
}

.dropdown {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  min-width: 100px;
  z-index: 500;
}

.dropdown-link {
  color: var(--mainBlack);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.dropdown-link:hover {
  background-color: var(--primaryColor);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.down-icon{
  margin-left: 3px;
}
.dropdown-side{
  position: relative;
}
.side-link{
  display: none;
  background-color: whitesmoke;
  position: absolute;
  left: 100%;
  top: 0;
}

.dropdown-side:hover .side-link {
  display: block;
}
.right-icon{
  position: absolute;
  left: 85%;
  top: 28%;
}