.navbar{
  background-color: var(--mainBlack);
}
.nav-logo {
  width: 120px;
  height: 50px;
}
.nav-link {
  display: block;
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: bold;
  letter-spacing:var(--mainSpacing);
  transition: var(--mainTransition);
  font-size: 15.5px;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
}
.nav-link:hover {
  color: var(--mainWhite);
  padding-left: 2.5rem;
  cursor: pointer;
}
.nav-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find{
  color: var(--mainWhite);
  font-weight: bold;
}
.find input{
  padding: 4px 10px;
  margin-left: 8px;
}
.search-icon{
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  font-size: 18px;
  padding: 3.5px;
  margin-left: 5px;
  margin-bottom: -5.8px;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--primaryColor);
  cursor: pointer;
  transition: var(--mainTransition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--mainPadding);
  }
  .nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .nav-header {
    padding: 0;
  }
  .nav-link {
    padding: 0;
    margin-right: 1.3rem;
  }
  .nav-link:hover {
    padding: 0;
    background: transparent;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:whitesmoke;
  min-width: 100px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 500;
  // border: 1px solid black ;
  // border-top: none;
}

.dropdown-link {
  color: var(--mainBlack);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.dropdown-link:hover {
  background-color: var(--primaryColor);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.down-icon{
  margin-left: 3px;
}