.little-banner{
    display: flex;
    justify-content: space-between;
    max-height: 150px;
    margin: 30px 50px;
    padding: var(--mainPadding);
    border: 2px solid var(--mainGray);
}
.little-banner-text{
    text-align: center;
    font-size: 35px;
    margin: 0;
    width: 350px;
}
.little-banner-img{
    text-align: center;
    width: 50%;
    /* background-size: 100px 30px; */
}
.little-banner-img img{
    height: 100%;
}
@media screen and (max-width: 775px){
    .little-banner-img{
        display: none;
    }
    .little-banner-text{
        width: 100%;
        font-size: 25px;
    }
}