.featured {
    background: var(--mainWhite);
    padding: var(--mainPadding);
  }
  .featured-center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 2rem;
    // max-width: 200px;
    max-width: 370px;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    height: 400px;
    // border-radius: 13px;
    // border: 1px solid var(--mainBlack);
  }
  .card:hover {
    z-index: 1;
    box-shadow: var(--darkShadow);
  }
  .card-img-container {
    position: relative;
    width: 100%;
    height: 70%;
  }
  .card-img-container:hover {
    // .card-icon{
    //   opacity: 1;
    //   transition: var(--mainTransition);
    // }
    // opacity: 0.7;
    // cursor: pointer;
    // transition: var(--mainTransition);
    // transform: scale(1.5);
    // z-index: 1;
  }
  .card-img {
    width: 100%;
    height: 100%;
    // border-top-right-radius: 13px;
    // border-top-left-radius: 13px;
  }
  .card-footer-icon {
    position: absolute;
    color: var(--mainBlack);
    font-size: 15px;
    top: 75%;
    left: 94%;
  }
  .card-img-icon {
    position: absolute;
    color: var(--mainBlack);
    font-size: 30px;
    top: 7%;
    left: 0;
    // transform: rotate(-90deg);
    // transform: translate(-50%, -50%);
    // opacity: 0;
    font-size: 17px;
    border: 1px solid var(--primaryColor);
    padding: 3px 10px;
    letter-spacing: var(--mainSpacing);
    cursor: pointer;
    // border: none;
    background: var(--primaryColor);
    transition: var(--mainTransition);
  }
  .card-img-icon:hover {
    border: 1px solid var(--mainBlack);
    border-left: none;
    background-color: var(--mainWhite);
  }
  .card-des{
    display: flex;
    justify-content: space-between;
  }
  .card-footer {
    // text-align: center;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
  }
  .card-title {
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-size: 20px;
    margin-top: 0;
  }
  .card-brand {
    /* color: var(--primaryColor); */
    align-self: center;
    margin-top: 0;
  }
  .card-price {
    color: var(--mainBlack);
    font-size: 23px;
    font-weight: bold;
    margin-top: 0;
    // background-color: var(--primaryColor);
    // display: inline-block;
    /* letter-spacing: var(--mainSpacing); */
  }

.card-menu {
  margin: 20px 0 30px 0;
  text-align: center;
}
.card-menu-btn {
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
  border: var(--primaryColor) solid 2px;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  transition: var(--mainTransition);
  cursor: pointer;
}
.card-menu button:hover {
  background-color: var(--mainBlack);
  color: white;
  border: 2px solid var(--mainBlack);
}