.featured {
  background: var(--mainWhite);
  padding: var(--mainPadding);
}
.featured-center {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
  position: relative;
}
.feature-card{
  margin-bottom: 2rem;
  // max-width: 200px;
  max-width: 260px;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  height: 270px;
  position: relative;
  border-radius: 13px;
  border: 2px solid orange;
}
.feature-card:hover {
  .feature-card-button{
    border: 1px solid var(--mainBlack);
    border-left: none;
    color: white;
    background-position: left bottom;
  }
  cursor: pointer;
  z-index: 1;
  box-shadow: var(--darkShadow);
}
.feature-card-img {
  width: 100%;
  height: 80%;
  border-radius: 13px;
}
.feature-card-button {
  color: var(--mainBlack);
  margin: 5px auto;
  font-size: 30px;
  font-size: 17px;
  border: 1px solid var(--primaryColor);
  padding: 5px 10px;
  background: linear-gradient(to right, var(--mainBlack) 50%, var(--primaryColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s linear;
  font-weight: bold;
}