.about {
  padding: var(--mainPadding);
  background: var(--mainWhite);
}
.subtitle-about{
  letter-spacing: var(--mainSpacing);
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--mainBlack);
  margin-bottom: 0;
}
.about-img,
.about-info {
  margin-bottom: 1rem;
  /* max-height: 600px; */
  /* overflow: hidden; */
  width: 700px;
}
.about-info p{
  font-family: "Lato", sans-serif;
  letter-spacing: 0.5px;
  line-height: 25px;
  /* text-align: center; */
  /* margin: auto; */
}
.about-photo{
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 0.5rem solid var(--mainBlack);
    border-left: 0.5rem solid var(--primaryColor);
    border-bottom: 0.5rem solid var(--mainBlack);
    border-right: 0.5rem solid var(--primaryColor);
    top: -1.5rem;
    left: -1.5rem;
  }
  .about-img, .about-photo {
    position: relative;
  }
  .about-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 33px;
  }
  .about-img,
  .about-info {
    max-width: 600px;
    flex: 0 1 calc(50% - 2rem);
    margin-bottom: 0;
  }
}
.map {
  width: 600px;
  height: 300px;
}
.map iframe {
  width: 100%;
  height: 100%;
}