@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");
html{
    --primaryColor: #feed00;
    --mainBlack: #2b2a29;
    --mainWhite: #fff;
    --mainGray: #bdbaba;
    --mainTransition: all 0.13s linear;
    --mainSpacing: 0.103rem;
    --iconFont: 1.3rem;
    --secondTextFont: 17px;
    --mainPadding: 1rem 2rem;
    --lightShadow: 2px 5px 3px 4px rgba(0, 0, 0, 0.25);
    --darkShadow: 4px 10px 5px 6px rgba(0, 0, 0, 0.5);
}
body{
    background-color: var(--mainWhite);
}
a{
    text-decoration: none;
}
.title{
    letter-spacing: var(--mainSpacing);
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--mainWhite);
    margin-bottom: 0;
}
.subtitle{
    letter-spacing: var(--mainSpacing);
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--mainBlack);
    margin-bottom: 0;
}
.under-line {
    border: 2px solid var(--primaryColor);
    margin: 10px auto 33px auto;
    width: 130px;
    transition: width 2s ease, border 2s ease;
}
// .fixed {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-color: rgba($color: #2b2a29, $alpha: 0.9);
//     transition: var(--mainTransition);
//     box-shadow: var(--lightShadow);
//     z-index: 3;
//   }